<div class="card shadow border-0 w-80">
    <div class="card-header border-0">
      <h5>
       Add Movie
      </h5>
    </div>
    <div class="card-body">
        <div class=" row d-flex">
            <div class="col-md-6">
              <div class="form-group form-group-sm">
                <label for="exampleInputEmail1">Movie Name</label>
                <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputState">Category Name</label>
                    <select id="inputState" class="form-control">
                      <option selected>first</option>
                      <option>second</option>
                    </select>
                  </div>
            </div>
        </div>
    </div>
    <div class="card-footer border-0">
            <div class="">
              <button type="submit" class="btn btn-sm btn-primary  mx-2 ">save</button>
              <button type="button" class="btn btn-sm btn-outline-secondary  mx-2 " routerLink="/movies">cancel</button>
            </div>
    </div>
    </div>

