<div class="card shadow border-0 w-80">
<div class="card-header border-0">
  <h5>
    Categories
  </h5>
</div>
<div class="card-body">
  <form [formGroup]="searchForm" (ngSubmit)="confirmSearch()">
    <div class=" row d-flex">
      <div class="col-6">
        <div class="form-group form-group-sm">
          <label for="exampleInputEmail1">Category Name</label>
          <input type="text" formControlName="name" (keyup)="onKeyUpSearch()"
           class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-4 align-self-center">
        <div class="">
          <button type="submit" class="btn btn-sm btn-outline-primary  mx-2 mt-3">search <i class="fas fas-sm fa-search mt-1"></i></button>
          <button type="button" class="btn btn-sm btn-secondary  mx-2 mt-3" (click)="cancelSearch()">cancel</button>
        </div>
      </div>
    </div>
  </form>

    <div class="d-flex justify-content-between">
      <div></div>
    <div class="my-3">
      <button class="btn btn-sm btn-primary" routerLink="add"> <i class="fas fa-plus mx-1"></i>Add Category</button>
    </div>
    </div>
    <div class="row">
        <table class="table border-0 mx-3">
            <thead class="border-0">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cat of categoriesList ,index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{cat.name}}</td>
                <td ><i class="fas fa-edit text-info"  [routerLink]="['edit',cat._id]"></i></td>
                <td><i class="fas fa-trash-alt text-danger" (click)="confirmBoxOfDelete(cat._id)"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
</div>